.github/
.vscode/**
.vscode-test/**
.vscodeignore
.gitignore
.editorconfig
yarn-error.log
node_modules/
messages/
messages.json
.eslintrc
.prettierrc
menus/show-all-scopes.json
bin/
test/
.no-sublime-package
Main.sublime-menu
SyntaxScopes.sublime-syntax
